<div class="container bg-warning">
        <div class="jumbotron text-center">
        <h1><span style="color:chocolate;">Registration</span></h1>
        <img src="course1.jpg">
        </div>
        <ul class="nav nav-tabs responsive">
        <li class="active"><a data-toggle="tab" href="main.html">Student Details</a></li>
        </ul>
            <br><br>
        <div class="main-section">
        <div class="section">
        <div class="row">
        
        </div>
        <div class="row">
        <div class="col-sm-6">
        <form class="form1" name="f1" method="post" action="">
        <div class="form-group">
        <label for="rno">Student Roll No:</label>
        <input type="text" class="form-control" id="rno" placeholder="Enter Roll No" name="rno" ng-model="registerCtrl.studentrollnumber" required>
        </div>
        <div class="form-group">
        <label for="sname">Student Name:</label>
        <input type="text" class="form-control" id="sname" placeholder="Enter Student Name" name="sname" ng-model="registerCtrl.studentname" required>
        </div>
        <div class="form-group">
        <label for="ename">Email:</label>
        <input type="text" class="form-control" id="ename" placeholder="Enter Email" name="ename" ng-model="registerCtrl.email" required>
        </div>
        <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" ng-model="registerCtrl.password" required>
        </div>
        <div class="form-group">
        <label for="clg">Collage Name:</label>
        <input type="collage" class="form-control" id="clgname" placeholder="Enter Your college Name" name="clg" ng-model="registerCtrl.collagename" required>
        </div>
                    <div class="text-center submit">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
             
         </form>
        </div>
        </div>
        </div>
        </div>
        </div>
